div.col-sm-3.col-md-2.navbar-default.sidebar(ng-controller="SidebarCtrl as s")
  div.sidebar-header
    div.field-wrapper(ng-repeat="field in s.fileList | orderBy:'key'")
      div.field-name {{field.key}}
        div.hide-field(ng-click="s.toggle(field)" ng-show="field.active")
          span.glyphicon.glyphicon-minus
        div.show-field(ng-click="s.toggle(field)" ng-hide="field.active")
          span.glyphicon.glyphicon-plus
        div.field-info()
          span.glyphicon.glyphicon-info-sign

