.preview
{
    padding-left: 3px;
    padding-right: 3px;
    height: calc(100vh - 55px);
    overflow: auto;
}

.preview-table
{
  overflow: auto;
}

.lr-drop-target-before{
  border-left: 2px solid orange !important;
}

.lr-drop-target-after{
  border-right: 2px solid orange !important;
}
