.preview
{
    padding-left: 3px;
    padding-right: 3px;
}

.lr-drop-target-before{
  border-left: 2px solid orange !important;
}

.lr-drop-target-after{
  border-right: 2px solid orange !important;
}
