#livefile_name{
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  margin: 0px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  height: 50px;
}
#livefile_type{
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  margin: 0px;
  width: 5em;
  font-size: 20px;
  line-height: 20px;
  height: 50px;
}
#export_button{
  border-radius: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.navbar
{
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
  border-bottom: 2px solid gray;
}
.navbar-form
{
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

